.table {
    width: 38%;
    max-width: 100%;
    margin-bottom: 20px;
}

.form-group.mr-sm-2 {
    width: 38%;
}

input#productPrice bid {
    width: 28px;
}

nav.navbar.bg-danger.fixed-top.flex-md-nowrap.p-0.shadow {
    background-color: #343a40;
}

span#account {
    /*background-color: #ffff;*/
    color: #ffff;
}

